body{
  background-color: #303045;
}
ul{
  list-style-type: none;
  position: fixed;
  margin: 0;
}
li{
  float: left;
  color: #FFFFFF;
  font-family: "Courier";
}
li a{
  padding: 20px;
  border-style: solid;
  border-color: #FFFFFF;
  font-size: 16px;
  background-color: #303045;
}
li a:hover{
  background-color: #505065;
}
h1{
  font-size: 500%;
  border-style: solid none solid none;
  border-width: 4px;
  border-color: #FFBBCC;
  font-family: "Brush Script MT", Cursive;
  color: #88EEFF;
}
p{
  font-size:175%;
  font-family: Courier;
  color: #FFFFFF;
}
img{
  height: 500px;
  border-style: solid;
  border-color: #66DDFF;
  border-width: 4px;
}
